body{
    margin:5%;
    margin-top: 2%;
    background-color: rgb(255, 227, 115);
}

ul{
    display: flex;
    flex-direction: column-reverse;
}

h1 {
    text-shadow: 2px 2px red;
  }

h5 {
    font-family: "Lucida Console", "Courier New", monospace;
}

canvas{
    background-color: black;
}
.main-class{
    display: grid;
    grid-template-columns: repeat(3, auto); /* Crea tres columnas del mismo tamaño */
    gap:5px;/* Espacio entre los elementos */
}
.elemento{
    border:2px solid;
    margin:10px;
    padding:50px;
}