
  canvas {
    display: flexbox;
    justify-content: center;
    align-self: center;
  }
  
  html{
    background-color: rgb(140, 71, 71);
  }

  body{
    margin:5%;
    margin-top: 0%;
}

ul{
    display: flex;
    flex-direction: column-reverse;
}

h1 {
    text-shadow: 2px 2px red;
    margin: 5px;
  }

h5 {
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: left;
}
nav{
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: center;
  margin-top: 0;
  background-color: rgb(255, 98, 0);
}
/*
@media screen and (max-width: 768px) {
  .contenedor {
    flex-direction: column; Cambia la dirección del flexbox a columna en pantallas más pequeñas 
    transform: rotate(90deg);
  }
  h1{
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
  }
  nav{
    text-align: center;
    margin-bottom: 20px;
  }
}
*/
.elemento{
    border:2px solid;
    margin:10px;
    padding:50px;
}